<div class="modal_text"> 
<center>This Project was Built by 100% Volunteers</center>
<br/>
<br/>
<center>Core Team:</center><br/>
<center>
Jim Tyhurst - Database & Back-End Development<br/>
Nicole Anderson- Data Science & Full-Stack Development<br/>
Daniel Ku - UX Design & Front-End Development<br/>
Trace Harris - Front-End Development<br/>
Alex Meub - Front-End Development<br/>
Jeffrey Meyers - Database & Back-End Development<br/>
Jamil Alvi - GIS & Database Development<br/>
Adrienne Tilley - Graphic Design<br/>
</center>
<br/>
<center>Honorable Mentions:</center><br/>
<center>
Justin Palmer - Data Science<br/>
Tree Casiano - Front-End Development<br/>
Hassan Shamim - Back-End Development<br/>
Alan Derk - Back-End Development<br/>
Dan Urbanski - Back-End Development<br/>
Aaron Campf - Back-End Development<br/>
</center>

</div>